body {
  background-color: rgb(234, 234, 234) !important;
}

p {
  margin: 0 0 1em;
  line-height: 2.4285em;
}

.ui.teal.button, .ui.teal.buttons .button {
  background-color: #146f2a;
  color: #fff!important;
 }

.ui.teal.button:hover, .ui.teal.buttons .button:hover {
  background-color: #21ba45;
  color: #fff!important;
 }
 .ui.primary.button, .ui.primary.buttons .button{
  background-color: #21ba45;
  color: #fff!important;
 }

 .ui.inverted.teal.segment {
  background-color:#146f2a!important;
  color: #fff!important;
}

.ui.primary.button, .ui.primary.buttons .button {
  background-color: #146f2a;
  color: #fff;
}

.ui.primary.button:hover, .ui.primary.buttons .button:hover {
  background-color: #21ba45;
  color: #fff;
}

.ui.primary.button:active, .ui.primary.buttons .button:active {
  background-color: #146f2a;
  color: #fff;
  text-shadow: none;
}

/*timepicker style*/
.react-datepicker__time-container
  .react-datepicker__time
  .react-datepicker__time-box
  ul.react-datepicker__time-list {
  padding-left: 0;
  padding-right: 0;
  width: 100px;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* .footer.segment {
  padding: 5em 0;
} */

.secondary.inverted.pointing.menu {
  border: none;
}

/*end home page styles*/

/* navbar styles */

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.fixed.menu {
  background-color: rgb(0, 102, 51);
}

.ui.main.container,
.main.segment {
  margin-top: 7em;
}

.ui.center.aligned.segment.attendance-preview {
  background-color: #f5f5f5;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.ui.menu .item > img:not(.ui) {
  margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item > .button {
  margin-left: 0.5em;
}

/*chat comments*/

.ui.comments .comment .comments {
  padding-bottom: 0 !important;
  padding-left: 2em !important;
}

/* dropzone styles */
.dropzone {
  border: dashed 3px #eee;
  border-radius: 5px;
  padding-top: 30px;
  text-align: center;
  /* min-height: 236px; */
}

.dropzone--isActive {
  border: dashed 3px green;
}
